.header {
    height: 60px;
    background-color: var(--purple);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.empty-header {
    flex: 1;
}

.scroll-section {
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.header-scroll {
    font-size: larger;
    text-decoration: none;
    color: var(--navy);
}

.header-scroll:hover {
    opacity: 0.5;
}

#icon {
    width: 25px;
    cursor: pointer;
}

#icon:hover {
    opacity: 0.5;
}