.hobbies {
    height: auto;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.hobby-image img {
    display: block;
} 

.hobbies-text {
    border-style: solid;
    border-left: 0px;
    border-bottom: 0px;
    border-top: 0px;
}

@media (max-width: 1378px) and (min-width: 1221px) {
    .hobbies {
        grid-template-columns: 1fr 1.25fr;
    }  
}

@media (max-width: 1220px) and (min-width: 1188px) {
    .hobbies {
        grid-template-columns: 1fr 2fr;
    }
} 

@media (max-width: 1187px) and (min-width: 879px) {
    .hobbies {
        grid-template-columns: 1fr 400px;
    }
    .hobby-image {
        width: 400px;
        height: 400px;
        overflow: hidden;
    }
    .hobby-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
}

@media (max-width: 878px) {
    .hobbies {
        grid-template-columns: 1fr;
    }
    .hobbies-text {
        border-style: none;
    }
} 

.hobbies-title {
    color: var(--navy);
    font-size: 40px;
    font-weight: 500;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.hobbies-list {
    color: var(--navy);
    font-size: 25px;
    padding: 30px;
}
